@media screen and (min-width: 948px){
    /*Wrap*/
    .td_tdn_home_01 .main{
        width: 948px;
    }
	/* 100 porciento */
    .td_tdn_home_01 .main .c1{
		width:100%;
		clear:both;
		overflow:hidden;
	}	
	.td_tdn_home_01 .main .c1 .c1_1 img {
		margin-bottom: 0px;
	}
	
	/* Flotan a la izq */
	.td_tdn_home_01 .main .c2,
	.td_tdn_home_01 .main .c4,
	.td_tdn_home_01 .main .c6{ 
		float:left;
		width: 624px;
		clear:none;
	}
	/* Flotan a la der */
	.td_tdn_home_01 .main .c3,
	.td_tdn_home_01 .main .c5,
	.td_tdn_home_01 .main .c7{
		float:right;
		width: 300px;
		clear:none;
	} 
	.td_tdn_home_01 .main .c5 > div {
		clear:both;
		width: 300px;
		float: none;
	}
	/*bloques*/	
	.td_tdn_home_01 .main .c3_1,
	.td_tdn_home_01 .main .c3_2,
	.td_tdn_home_01 .main .c3_3{
		float: none;
		clear:both;
		overflow:hidden;
	}	
	.td_tdn_home_01 .main .c4_1{
		position: relative;
	}
	.ie div.img_galry_01 div.image-container {
		position: relative;
	}
	.td_tdn_home_01 .cintillo {
		/*padding-bottom: 24px;*/
		/*border-bottom: 1px solid #ccc;*/
	}
}
