@media screen and (min-width: 948px){

    /* main */
    .td_altasbajas_home_01 .main{
        width: 948px;
    }

	/* 100 porciento */
    .td_altasbajas_home_01 .main .c1{
		width:100%;
		clear:both;
		overflow:hidden;
	}	

	/* Flotan a la izq */
	.td_altasbajas_home_01 .main .c2,
	.td_altasbajas_home_01 .main .c4,
	.td_altasbajas_home_01 .main .c6,
	.td_altasbajas_home_01 .main .c6_pt2
	{ 
		float:left;
		width: 624px;
		clear:none;
	}

	/* Flotan a la der */
	.td_altasbajas_home_01 .main .c3,
	.td_altasbajas_home_01 .main .c3b,
	.td_altasbajas_home_01 .main .c5,
	.td_altasbajas_home_01 .main .c7
	{
		float:right;
		width: 300px;
		clear:none;
	} 
	/*bloques*/	
	.td_altasbajas_home_01 .main .c3_1,
	.td_altasbajas_home_01 .main .c3_2,
	.td_altasbajas_home_01 .main .c3_3{
		float: none;
		clear:both;
		overflow:hidden;
	}
    .td_altasbajas_home_01 .main .c3b .c3_4{
		float: none;
    	width: 300px;
    	clear:both;
    }
	.td_altasbajas_home_01 .main .c9 {
		clear:both;
	}
	.ie7 .wdg_stats_teams_02 .teams_stadistics_table .teams_stadistics .name_team h3,
	.ie8 .wdg_stats_teams_02 .teams_stadistics_table .teams_stadistics .name_team h3{
    	font-size: 15px !important;
    	font-weight: bold !important;
    }
	.ie9 .wdg_stats_teams_02 .teams_stadistics_table:nth-of-type(4) .teams_stadistics:nth-of-type(2) {
		display: none;
	}
}