@media screen and (min-width: 39em) {
	/* BEGIN: thumbnaillist (Medium) */
	.mix_1arts_07 {
		width: 300px !important;
		margin-bottom: 24px;
		padding-bottom: 0px;
		border: none;
	}
	.mix_1arts_07 ul.articles li {
		/* border-top: 1px solid #CCCCCC; */
		/* padding-top: 1em; */
		border-top: none;
		margin-bottom: 0!important;
	}
	.mix_1arts_07 ul {
		width: 100%;
	}
	.mix_1arts_07 ul li {
		border-top: none;
		padding: 0px;
	}
	.mix_1arts_07 ul li a p {
		width: 170px;
		padding-right:0;
		color: #000000;
		font-size: 14px;
		font-weight: bold;
		padding-bottom: 0.5em;
		line-height: 18px;
		height: 49px;
		overflow: hidden;
		margin: 0;
	}
	.mix_1arts_07 ul li a span.icon {
		display: none;
	}
	/* END: thumbnaillist (Medium) */
	.mix_1arts_07 ul li a img {
		border-right: 1px solid #CCCCCC;
		display: block;
		float: left;
		margin-bottom: 0;
		margin-right: 0.75em;
		padding: 0px 12px 0 0px;
	}
	.mix_1arts_07 .sprite {
		position: absolute;
		margin-left: 44px;
		display: block;
		margin-top: 0px;
	}
	.mix_1arts_07 ul li a h3 {
		font-size: 0.8em;
		font-style: italic;
		font-weight: 800;
		padding-top: 0.5em;
		display: none;
		height: 18px;
		overflow: hidden;
	}
	.ie7 .mix_1arts_07 ul li a p {
		width: auto;
	}
	.ie7 .mix_1arts_07 {
		/*margin-top: -5%;*/
		
	}
	.mix_1arts_07 ul li a p:hover {
		text-decoration: underline !important;
	}
	.mix_1arts_07 ul li a {
		height: 63px !important;
		overflow: hidden;
		display: block;	
	}
}