@media screen and (min-width: 624px){
    /*Wrap*/
    .td_mexicanos_ext_01 .main{
        width: 624px;
        margin:auto;
    }
	
	/*Todos los divs contenedores primarios se hacen al 100%*/
	.td_mexicanos_ext_01 .main .c1,
	.td_mexicanos_ext_01 .main .c2,
	.td_mexicanos_ext_01 .main .c3,
	.td_mexicanos_ext_01 .main .c4{
		width:100%;
		clear:both;
		overflow:hidden;
	}
	/*Fijo Tamaño*/
	.td_mexicanos_ext_01 .main .c3_1,
	.td_mexicanos_ext_01 .main .c3_2,
	.td_mexicanos_ext_01 .main .c5_1,
	.td_mexicanos_ext_01 .main .c5_2,
	.td_mexicanos_ext_01 .main .c5_3,
	.td_mexicanos_ext_01 .main .c5_4,
	.td_mexicanos_ext_01 .main .c6_3,
	.td_mexicanos_ext_01 .main .c6_4,
	.td_mexicanos_ext_01 .main .c7_1,
	.td_mexicanos_ext_01 .main .c7_2{
		width: 300px;
	}
	
	.td_mexicanos_ext_01 .main .c3,
	.td_mexicanos_ext_01 .main .c5 {
		float: none;
	}
	.td_mexicanos_ext_01 .separator_component{
	    border-right: 1px solid #CCCCCC;
	    height: 291px;
	    margin-left: 12px;
		margin-top:0px;
	}
	.td_mexicanos_ext_01 .main .c5_5{
		display:none;
	}

}

@media only screen and (device-width: 768px) {
    .td_mexicanos_ext_01 .btn_carru_prog_02 .bullets ul{
                    margin-top: -44px;
    }
    .td_mexicanos_ext_01 .btn_carru_prog_02 .typecarruse .carrusel{
        margin-top: 12px!important;
    }
}

@media screen and (min-width: 624px) and (max-width: 948px){
    .cover_box,
    .td_mexicanos_ext_01 .publicidad2{
        display: none;
    }
    
    .td_mexicanos_ext_01 .publicidad1{
        display: block;
        float:none!important;
        text-align:center;
    }
    
     .td_mexicanos_ext_01 .desktop_banner{
        display:block!important;
    }
} 
@media screen and (max-width: 624px){
	.td_mexicanos_ext_01 .publicidad1{
        width: 320px;
        height: 50px;
        float: none !important;
        margin: 0 auto;
        background-color: #ccc;
    	display:block;
    }
    .td_mexicanos_ext_01 .publicidad2{
        display:none;
        background-color: #ccc;
    }
}