@media screen and (max-width: 623px) {

    div.img_galry_01 {
        position: relative;
        margin-bottom: 36px;
    }
    /*div.img_galry_01 div.image-container {border:2px solid red;}*/
    div.img_galry_01 div.arrowLeft,
    div.img_galry_01 div.arrowRight,
    div.img_galry_01 div.image-container {display:block;}

    .img_galry_01 .twitter, 
    .img_galry_01 .facebook, 
    .img_galry_01 .pinterest,
    .img_galry_01 .camera, 
    .img_galry_01 .expand {
    display: none !important;
    }

    div.img_galry_01 .overlay {
        background-color: rgba(255, 255, 255, .75);
        display: block;
        bottom: 199px;
        padding: 0;
        position: absolute;
        margin-left: 24px;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#65FFFFFF,endColorstr=#65FFFFFF);
        height: 65px;
        width: 85%;
        z-index: 1;
    }


    div.img_galry_01 .overlay p {
        padding: 18px 36px 18px 36px;
        font-size: 12px;
        line-height: 16px;
    }

    div.img_galry_01 div.image-container .controls {
        position: absolute;
        left: 24px;
        bottom: 134px;
    }

    div.img_galry_01 a.td_bg {
        background: rgba(167, 10, 11, 0.6);
        height: 26px;
        position: absolute;
        top: 0;
        left: 0;
        margin-right: 1px;
        color: #FFF;
        text-align: center;
        width: 28px;
        z-index: 1;
        margin-top: -155px;
    }

    div.img_galry_01 a.expand{
    display:none;
    }

    div.img_galry_01 div.carruselcontainer {
        padding:0 0 0 0;
        height: 210px;
        overflow: hidden;
        width:105%;
        overflow-y:scroll;
    }

    div.img_galry_01 ul.ulcarrusel {
        border:0;
        overflow: hidden;
        height: auto;
    }

    div.img_galry_01 a.album img {
        width: 77px;
        height: 63px;
    }

    div.img_galry_01 a.album .overlay,
    div.img_galry_01 a.album .description .topic{
        display:none;
    }

    div.img_galry_01 a.album img {float:left;}
    div.img_galry_01 a.album span.title {
        height:42px;
        border-left:1px solid #d1d1d1;
        display:block;
        margin:0 0 0 89px;
        padding:12px;
        max-width:67%;
        vertical-align:middle;
        font-size:14px;
        font-weight: bold;
    }

    div.img_galry_01 a.album {
        margin-bottom:9px;
        position:relative;
        display:block;
        float:left;
    }

    div.img_galry_01 div.carruselcontainer ul li:last-child .album{
        margin-bottom: 0;
    }


    div.img_galry_01 div.carruselcontainer ul li {
        clear:left;
        overflow: hidden;
    } 

    div.img_galry_01 a.album span.icon {
        color:#FFF;
        line-height:30px;
        display:block;
        background:rgba(167, 10, 11, 0.6);
        width:30px;
        height:30px;
        position:absolute;
        top:33px;
    }

    div.img_galry_01 a.album span.icon i {
        padding-left:4px;
    }
    div.img_galry_01 .dotted-bottom {background:transparent none!important; display: none;
    }
    div.img_galry_01 .back_overlay{
        background:rgba(167,10,11,.6);
        background-color:transparent;
    }

    .img_galry_01 .degradado {
         border-top: none;
         display: block;
         position: absolute;
         bottom: 0;
         width: 100%;
         height: 12px;
         background-image: url(../../../templates/base/img/degradado_horizontal.png);
         background-repeat: repeat-x;
         background-position: 10px;
         bottom: 0px;
     }

    .img_galry_01 .gallery-controls{
        overflow: hidden;

    }

    div.img_galry_01 .txt1{
        display: block;
    }

    .img_galry_01 #img_galry_01_txts
    {
        position: relative;
        display:inline-block;
        overflow: visible;
    }

    .img_galry_01 #img_galry_01_txts{
        background-color: #fff;
        margin-left: 24px;
        padding-bottom: 24px;
    }
    .img_galry_01 .txt1{
        height: auto;
        margin-right: 24px;
        padding-bottom: 12px;
        margin-left: 24px;
        margin-bottom: 12px;
        padding-top: 4px;
    }
    .img_galry_01 .txt1 p{
        font-size: 11px;
        margin-top: 2px;
    }
    .img_galry_01 .txt2 {
        display: none;
    }
    .img_galry_01 .txt3 {
        height: auto;
        margin-right: 24px;
        margin-left: 24px;
    }
     i.tvsa-play {
     margin-top: 5px;
    }

    .img_galry_01 .image-container.squares{
        display:none !important;
    }

    .img_galry_01 .gallery-controls.squares{
        overflow: hidden;
        display: block;
    }

    div.img_galry_01 div.arrowLeft.squares, 
    div.img_galry_01 div.arrowRight.squares{
            display: none;
    }
    div.img_galry_01 ul li{
        float:left;
    }
    #carrusup{
        width:330px;
        height:210px;
        margin:0 auto;
    }
    #carrusup .microfiche-screen{
        height:100% !important;
    }
    .img_galry_01 .microfiche-controls{
        display:none;
    }

}

/* All devices */
div.img_galry_01 span.data {display:none;}
div.img_galry_01 img.mainimage {
    background-color: #e7e7e7;
    color: #e7e7e7!important;
    }